<!DOCTYPE html>
<html>
  <head>
    <title>The Liquor Cabinet</title>
    <style type="text/css" media="screen">
      * {
        margin: 0; padding: 0;
      }
      
      body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 0.8;
        color: #333;
      }
      
      #main {
        margin: 30px;
      }
      
      h1, h2, h3 {
        margin-bottom: 10px;
      }

      .drink ul {
        margin: 10px 1em;
      }
      
      body {
        background: #aaa ;
      }

      .drink {
        width: 500px;
        margin: 0 auto;
        font-size: 0.9em;
        background: rgba(255,255,255, 0.9);
        padding: 20px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 20px;
      }
            
      .drink h1 a {
        color: #333;
        text-decoration: none;
      }

      .drink h1 a:hover {
        text-decoration: underline;
      }
      
      #header {
        background: rgba(255,255,255, 0.2);
        padding:8px;
        color: #fff;
        height: 20px;
      }

      #header .homelink {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
      }
      
      #search {
        float: right;
      }
 
      .glass {
        font-weight: 100;
        font-size: 0.8em;
        color: #aaa;
      }
      
      .drink .footer {
        margin-top: 10px;
      }
      
      .paging, .no-results {
        width: 540px;
        margin: 0 auto;
      }
      
      .paging a {
        color: #555;
        text-decoration: none;
        font-size: 0.8em;
        text-transform: lowercase;
      }

      .paging a:hover {
        text-decoration: underline;
      }

      .paging .next {
        float: right;
      }
      
      p {
        margin-bottom: 1em;
      }

      a {
        color: #3254c2;
      }

      a:visited {
        color: #777eb3;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <a class="homelink" href="{{ root_path }}">The Liquor Cabinet</a>
      <div id="search">{{ search_form }}</div>
    </div>
    <div id="main">
      {{ content }}
      {% if no_results %}
        <div class="no-results">No results for <strong>{{ query }}</strong>.</div>
      {% endif %}
      {% unless single_post %}
        <div class="paging">
          {% if previous_page %}
            <a class="previous" href="{{ previous_page }}">Previous</a>
          {% endif %}
          {% if next_page %}
            <a class="next" href="{{ next_page }}">Next</a>
          {% endif %}
        </div>
      {% endunless %}
    </div>
  </body>
</html>