<!DOCTYPE html>
<html>
  <head>
    <title>The Liquor Cabinet</title>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Special Elite::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
      <style type="text/css" media="screen">
      * {
        margin: 0; padding: 0;
      }
      
      body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 0.8;
        color: #333;
        background: #ddd;
      }
      
      .title, .drink, .paging, #query {
        font-family: 'Special Elite', monospace;
        font-weight: normal;
      }
      
      .title {
        text-shadow: 0 0 3px #9a9a9a;
      }
      
      .drink h1, .arrow {
        font-family: Helvetica, Arial;
      }
      
      a {
        color: #3254c2;
      }

      a:visited {
        color: #777eb3;
      }

      #main {
        margin: 30px;
      }
      
      h1, h2, h3 {
        margin-bottom: 10px;
      }

      .drink ul {
        margin: 10px 1em;
      }
      
      .drink {
        width: 500px;
        margin: 0 auto;
        font-size: 0.9em;
        background: #fffaf4;
        padding: 20px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 30px;
        box-shadow: 0 0 8px rgba(0,0,0, 0.3);
        -moz-box-shadow: 0 0 8px rgba(0,0,0, 0.3);
        -webkit-box-shadow: 0 0 8px rgba(0,0,0, 0.3);
        -o-box-shadow: 0 0 8px rgba(0,0,0, 0.3);
        border-left: 10px solid #aaa;
      }
      
      .drink h1 {
        padding-bottom: 5px;
        margin-bottom: 15px;
        margin-bottom: 0;
      }

      .drink .content {
        border-top: 1px dotted #ddd;
        border-bottom: 1px dotted #ddd;
        padding: 10px 0px;
      }
            
      .drink h1 a {
        color: #333;
        text-decoration: none;
      }

      .drink h1 a:hover {
        text-decoration: underline;
      }
      
      #header {
        padding: 14px 10px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.7em;
        color: #666;
      }

      #header input[type=text] {
        border: none;
        border: 1px solid #bbb;
        border-left-color: #cfcfcf;
        border-bottom-color: #cfcfcf;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        padding: 2px 5px;
        background: #eaeaea;
      }

      #header form {
        display: inline-block;
      }

      .title {
        text-align: center;
        margin-bottom: 30px !important;
        font-size: 2.3em;
      }

      .title a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
      }
      
      #search {
        float: right;
      }
 
      .glass {
        font-weight: 100;
        font-size: 0.8em;
        color: #aaa;
      }
      
      .drink .footer {
        margin-top: 10px;
        font-size: 0.8em;
        color: #999;
      }
      
      .paging, .no-results, .title, #query {
        width: 540px;
        margin: 0 auto;
      }
      
      .paging a {
        color: #555;
        text-decoration: none;
        font-size: 0.8em;
        text-transform: lowercase;
      }

      .paging a:hover {
        text-decoration: underline;
      }

      .paging .next {
        float: right;
      }
      
      .drink p {
        margin-bottom: 1em;
      }
      
      .drink p:first-child {
        margin-top: 1em;
      }

      .star {
        color: #6c1117;
        text-shadow: -1px -1px #fff;
        display: inline-block;
        float: right;
        position: relative;
        top: -5px;
      }
            
      #query {
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div id="search">search {{ search_form }}</div>
    </div>
    <div id="main">
      <div class="title">
        <a class="homelink" href="{{ root_path }}">The Liquor Cabinet</a>
      </div>
      {% if no_results %}
        <div class="drink no-results">No results for <strong>{{ query }}</strong>.</div>
      {% elsif query %}
        <div id="query">Drinks matching <strong>{{ query }}</strong></div>
      {% endif %}

      {{ content }}

      {% unless single_post %}
        <div class="paging">
          {% if previous_page %}
            <a class="previous" href="{{ previous_page }}"><span class="arrow">&larr;</span> Previous</a>
          {% endif %}
          {% if next_page %}
            <a class="next" href="{{ next_page }}">Next <span class="arrow">&rarr;</span></a>
          {% endif %}
        </div>
      {% endunless %}
    </div>
  </body>
</html>