<div class="drink" style="border-color: {{ color }}">
  <h1>
    {% if single_post %}
    {{ title }} 
    {% else %}
    <a href="{{ url }}">{{ title }}</a>
    {% endif %}
    <span class="glass">{{ glass_type }} glass</span>
    {% if tag | split:" " | contains 'fave' %}
    <div class="star" style="color: {{ color }}">&#9733;</div>
    {% endif %}
  </h1>
  <div class="content">
    {{ content }}
  </div>
  <div class="footer">
    {% if author %}
    Added by {{ author.name | split:" " | first }} on
    <span class="date">{{ created_at | date: '%b %d %Y' }}</span>
    {% endif %}
  </div>
</div>